.episode_name{
    font-weight: 400;
    font-size: 48px;
}

.episode_info{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.episode_info li{
    width: 50%;
    text-align: center;
}

.episode_info li h4{
    margin: 5px 0;
}

.section_label{
    font-size: 20px;
    color: #8E8E93;
}